@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

:root {
    --light-blue:#00acee;
    --darker-light-blue:#009BDE;
    --open-sans-family: 'Open Sans', sans-serif;
    --default-btn-hover-transition: 'all 1s ease-out';
}